<div class="container" style="margin: 0px auto 0px auto;width: 400px;">

	<div class="panel panel-default" style="width:350px; border:0">
		<div class="panel-body">
			<h2>Resend confirmation instructions</h2>

			<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  				<%= devise_error_messages! %>

  				<div><%= f.label :email %><br />
  					<%= f.email_field :email, autofocus: true, :class => 'form-control' %>
  				</div>

  				<div><%= f.submit "Resend confirmation instructions", :class => 'btn btn-primary form-control' %></div>
			<% end %>
		</div>
	</div>

	<%= render "devise/shared/links" %>
</div>