<script type="text/javascript">
  var d = document.getElementById("goog");
  d.className = d.className + " active";

  $(document).ready(function(){
    $('.myTable').DataTable();
  });
</script>

<%#= link_to "Add New", new_cloud_path, :class => "btn btn-info pull-right" %>
<%= link_to "Connect to Gooogle Drive", google_drive_login_path, {:class => "dropbox-connect btn btn-success pull-right"} %>

<% if @accounts.count < 1%>
    <h2>Connect some account to view and manage its files...</h2>
<% end %>

<% @accounts.each_with_index do |account,i| %>
  <h2> Account # <%= i+1 %> </h2>

  <table id="" class="hover myTable" cellspacing="0" width="100%">
    <thead>
    <tr>
      <th width="80%">Name</th>
      <th width="20%">Actions</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
    </tfoot>
    <tbody>
      <% @files[i].each do |file| %>
        <tr>
          <td><%=file%></td>
          <td>
            <%= form_tag download_google_doc_path do %>
              <%=hidden_field_tag 'doc_upload', file %>
              <%=hidden_field_tag 'account_id', account.id %>
              <%= submit_tag 'Download' %>
            <%end%>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>

  <%= button_to "Remove Account", documents_path(:id => account.id), :method => :delete, :class => 'btn btn-danger' %>

<% end %>   
