<script type="text/javascript">
  var d = document.getElementById("adcloud");
  d.className = d.className + " active";

  $(document).ready(function(){
    $('.myTable').DataTable();
  });
</script>

    <%#= link_to "Add New", new_cloud_path, :class => "btn btn-info pull-right" %>
    <%= link_to "Connect to Dropbox", dropbox_authorize_path, {:class => "dropbox-connect btn btn-success pull-right"} %>
<% if @clients.count < 1%>
    <h2>Connect some account to view and manage its files...</h2>
<% end %>

<% @clients.each_with_index do |client, i| %>
    <h2> Account # <%= i+1 %> </h2>
    <div class="pull-right" style="width:40%">  
      <%= form_tag(dropbox_upload_path, method: :post, multipart: true, class: 'form-inline') do %>
          <div class="form-group">
            <%= file_field_tag :upload_file %>
          </div>
          <%= hidden_field_tag 'account_id', @accounts[i].id %>
          <%= submit_tag 'Upload File', name: 'upload_g', class: 'pull-right' %>
      <% end %>
    </div>  
    </br>

    <table id="" class="hover myTable" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Type</th>
                <th>Path</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Type</th>
                <th>Path</th>
                <th>Actions</th>
            </tr>
        </tfoot>
        <tbody>
            <% @files[i].each do |file| %>
                <tr>
                    <td><%= link_to file['name'], client.shares(file['path'])["url"], target: '_blank'  %></td>
                    <td><%= file['size'] %></td>
                    <td><%= file['mime_type'] %></td>
                    <td><%= file['path'][1..-1] %></td>
                    <td>
                        <!-- Actions -->
                        <%= form_tag(dropbox_download_path, method: :get) do %>
                            <%= hidden_field_tag 'name', file['name'] %>
                            <%= hidden_field_tag 'path', file['path'] %>
                            <%= hidden_field_tag 'account_id', @accounts[i].id %>
                            <%= submit_tag 'Download' %>
                        <% end %>
                    </td>
                </tr>
            <%end%>
        </tbody>
    </table>
<% end %>
