<script type="text/javascript">
  var d = document.getElementById("adcloud");
  d.className = d.className + " active";

  $(document).ready(function(){
    $('.myTable').DataTable();
  });
</script>

    <%#= link_to "Add New", new_cloud_path, :class => "btn btn-info pull-right" %>
    <%= link_to "Connect to Dropbox", dropbox_authorize_path, {:class => "dropbox-connect btn btn-success pull-right"} %>

<h1>My Clouds</h1>
<br/>

<% @clients.each_with_index do |client, i| %>
    <h2> Account # <%= i+1 %> </h2>
    <table id="" class="hover myTable" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Type</th>
                <th>Path</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>File Name</th>
                <th>Size</th>
                <th>Type</th>
                <th>Path</th>
                <th>Actions</th>
            </tr>
        </tfoot>
        <tbody>
            <% @files[i].each do |file| %>
                <tr>
                    <td><%= file['name'] %></td>
                    <td><%= file['size'] %></td>
                    <td><%= file['mime_type'] %></td>
                    <td><%= file['path'][1..-1] %></td>
                    <td>
                        <!-- Actions -->
                        <%= form_tag(dropbox_download_path, method: :get) do %>
                            <%= hidden_field_tag 'name', file['name'] %>
                            <%= hidden_field_tag 'path', file['path'] %>
                            <%= hidden_field_tag 'account_id', @accounts[i].id %>
                            <%= submit_tag 'Download' %>
                        <% end %>
                    </td>
                </tr>
            <%end%>
        </tbody>
    </table>
<% end %>

<!-- 
<table id="myTable" class="hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Email</th>
                <th>Connected At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Email</th>
                <th>Connected At</th>
                <th>Actions</th>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td><%#= link_to "Delete", 'javascript:void(0);', :class => "btn btn-danger" %></td>
            </tr>
            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
            </tr>
            <tr>
                <td>Ashton Cox</td>
                <td>Junior Technical Author</td>
                <td>San Francisco</td>
            </tr>
            <tr>
                <td>Cedric Kelly</td>
                <td>Senior Javascript Developer</td>
                <td>Edinburgh</td>
            </tr>
            <tr>
                <td>Airi Satou</td>
                <td>Accountant</td>
                <td>Tokyo</td>
            </tr>
            <tr>
                <td>Brielle Williamson</td>
                <td>Integration Specialist</td>
                <td>New York</td>
            </tr>
            <tr>
                <td>Herrod Chandler</td>
                <td>Sales Assistant</td>
                <td>San Francisco</td>
            </tr>
            <tr>
                <td>Rhona Davidson</td>
                <td>Integration Specialist</td>
                <td>Tokyo</td>
            </tr>
            <tr>
                <td>Colleen Hurst</td>
                <td>Javascript Developer</td>
                <td>San Francisco</td>
            </tr>
            <tr>
                <td>Sonya Frost</td>
                <td>Software Engineer</td>
                <td>Edinburgh</td>
            </tr>
            <tr>
                <td>Jena Gaines</td>
                <td>Office Manager</td>
                <td>London</td>
            </tr>
            <tr>
                <td>Quinn Flynn</td>
                <td>Support Lead</td>
                <td>Edinburgh</td>
            </tr>
            <tr>
                <td>Charde Marshall</td>
                <td>Regional Director</td>
                <td>San Francisco</td>
            </tr>
            <tr>
                <td>Haley Kennedy</td>
                <td>Senior Marketing Designer</td>
                <td>London</td>
            </tr>
            <tr>
                <td>Tatyana Fitzpatrick</td>
                <td>Regional Director</td>
                <td>London</td>
            </tr>
            <tr>
                <td>Michael Silva</td>
                <td>Marketing Designer</td>
                <td>London</td>
            </tr>
            <tr>
                <td>Paul Byrd</td>
                <td>Chief Financial Officer (CFO)</td>
                <td>New York</td>
            </tr>
            <tr>
                <td>Gloria Little</td>
                <td>Systems Administrator</td>
                <td>New York</td>
            </tr>
            <tr>
                <td>Bradley Greer</td>
                <td>Software Engineer</td>
                <td>London</td>
            </tr>
            <tr>
                <td>Dai Rios</td>
                <td>Personnel Lead</td>
                <td>Edinburgh</td>
            </tr>
            <tr>
                <td>Jenette Caldwell</td>
                <td>Development Lead</td>
                <td>New York</td>
            </tr>
            <tr>
                <td>Yuri Berry</td>
                <td>Chief Marketing Officer (CMO)</td>
                <td>New York</td>
            </tr>
        </tbody>
    </table> -->