<!DOCTYPE html>
<html>
	<head>
		<title>Thunder Cloud</title>
		
	 	<%= javascript_include_tag "application" %>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">	 	
	 	<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>

	 	<%= stylesheet_link_tag  "http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css", :media => "screen" %>
	 	
	 	<%= stylesheet_link_tag "http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css" %>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag "https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css"%>
		<%= javascript_include_tag "https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js" %>

		<style type="text/css">
		*{
			font-family: Arial, Helvetica, sans-serif !important;
		}
		</style>

		<link rel='shortcut icon' type='image/x-icon' href='/assets/favicon2.png' />

	</head>
	<body>
		<div id="wrapper">
			<header class="navbar navbar-inverse" role="banner">
				<div class="container">
					<div class="navbar-header">
						<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<i class="icon-up-arrow"></i>
						</button>
						<a href="/" class="navbar-brand navbar-brand-img">
							<img src="<%=asset_path "finallogo.png"%>" style='width:85%;margin: 8px 0 0 0;' alt="MVP Ready"
						</a>
					</div> <!-- /.navbar-header -->
					<nav class="collapse navbar-collapse" role="navigation">
						<ul class="nav navbar-nav navbar-right">   
	            
				<% if current_user.present? %>

				  <li class="" id="subs">
	              	<%#= link_to "Subscribers", subscribers_user_path(current_user) %>
	              </li>
	              <li class="" id="set">
	              	<%#= link_to "Settings", settings_user_path(current_user) %>
	              </li>
	              <li class="" id="pro">
	              	<%= link_to "#{current_user.email}", edit_user_registration_path %>
	              </li>
	              <li>
	              	<%= link_to "Logout", destroy_user_session_path, method: :delete %>
	              </li>
	            <% else %>
	            	<li class="" id="homep">
	            		<%= link_to "Home",root_path %>
	            	</li>
	            	
	            	<li class="" id="faq">
	            		<a class="" href="<%= faq_home_index_path %>">FAQ</a>
	            	</li>
	            	<li class="" id="how">
	            		<a class="" href="<%= howto_home_index_path %>">How To</a>
	            	</li>
	            	<!--<li class="" id="cont">
	            		<a class="" href="<%#= contacts_path %>">Contacts</a>
	            	</li>-->
	            	<li class="" id="about">
	            		<a class="" href="<%= about_home_index_path %>">About</a>
	            	</li>

	            	<li class="" id="contact">
						<a href="<%= contactus_home_index_path %>">Contact Us</a>
					</li>
	              <li class="" id="sign">
	              	<%= link_to "Sign up", new_user_registration_path %>
	              </li> 
	              
	              <li class="" id="log">
	              	<%= link_to "Login", new_user_session_path %>
	              </li>
	            <% end %>
						</ul>
					</nav>
				</div> <!-- /.container -->
			</header>

			<% if current_user.present? %>
				<div class="mainnav">
					<div class="container">
						<a class="mainnav-toggle" data-toggle="collapse" data-target=".mainnav-collapse">
							<span class="sr-only">Toggle navigation</span>
							<i class="fa fa-bars"></i>
						</a>
						<nav class="collapse mainnav-collapse" role="navigation">
			        <ul class="mainnav-menu">
				      	

				      	<li class="" id="adcloud">
				      		<a href="<%= clouds_path %>" >Clouds</a>
				      	</li>

				      	<li class="" id="upfile">
				      		<a href="<%= root_path %>">Upload Files</a>
				      	</li>
				      	<li class="" id="delfile">
				      		<a href="<%= root_path %>">Delete Files</a>
				      	</li>
				      
				      	<li class="" id="sstatus">
				      		<a href="<%= root_path %>">Storage Status</a>
				      	</li>

				      	<%# if current_user.try(:user_type) == "admin" %>
				      		
				      	<%# end %>

			        </ul>
			  		</nav>
					</div> <!-- /.container -->
				</div> <!-- /.mainnav -->
			<% end %>

			<% if current_user.present? %>
				<div class="content">
					<div class="container">
						<%= render partial: "partials/flash_message" %>
						<%= yield %>                   <!-- All body will go here -->
					</div> <!-- /.container -->
				</div><!-- .content -->
			<% else %>
				<%= render partial: "partials/flash_message" %>
				<%= yield %>                   <!-- All body will go here -->
			<% end %>
		
		</div> <!-- /#wrapper -->

		<footer class="footer">
			<div class="container">
				<p class="pull-left">Copyright &copy; 2015 thundercloud.com</p>
			</div>
		</footer>
	</body>
</html>

